<template>
  <div class="message is-dark">
    <div class="message-body">
      <div class="columns">
        <div class="column is-2">
          <figure class="image">
            <img v-bind:src="event.image">
          </figure>
        </div>

        <div class="column is-10">
          <p class="title is-4">{{ event.title }}</p>
          <div class="content">
            <div class="description">{{ event.description }}</div>
            <time>{{ event.from | date }}</time>
            -
            <time>{{ event.to | date }}</time>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "EventsCard",
  props: {
    event: {
      type: Object,
      default: () => {}
    }
  },
  filters: {
    date(value) {
      return new Date(value).toLocaleDateString(["en-US"], {
        year: "numeric",
        month: "long",
        weekday: "long",
        hour: "numeric",
        minute: "numeric",
        hour12: false
      });
    }
  }
};
</script>

<style lang="scss" scoped>
img {
  object-fit: cover;
  max-height: 8em;
}

.description {
  margin-bottom: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
</style>
