<template>
  <div class="columns is-centered">
    <div class="column">
      <div
        class="event-list-item"
        v-for="event in events"
        :key="event.id"
      >
        <EventListItem v-bind:event="event"/>
      </div>
    </div>
  </div>
</template>

<script>
import MockService from "../services/mock-service";
import EventListItem from "./EventListItem";

export default {
  name: "EventList",
  data() {
    return {
      events: []
    };
  },
  async created() {
    this.events = await MockService.getEvents();
  },
  components: {
    EventListItem
  }
};
</script>

<style lang="scss" scoped>
.event-list-item {
  margin-top: 1em;
  margin-bottom: 1em;
}
</style>
