<template>
  <nav class="navbar is-dark">
    <div class="container">
      <div class="navbar-brand">
        <router-link
          class="navbar-item"
          :to="{ name: 'events' }"
        >
          Whatsup
        </router-link>

        <a
          role="button"
          class="navbar-burger"
          :class="{ ' is-active': isMobileNavigation }"
          @click="toggleMobileNavigation"
        >
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <div
        class="navbar-menu"
        :class="{ ' is-active': isMobileNavigation }"
      >
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      isMobileNavigation: false
    };
  },
  methods: {
    toggleMobileNavigation() {
      this.isMobileNavigation = !this.isMobileNavigation;
    }
  }
};
</script>

<style scoped>
</style>
